*{
  margin: auto;
  box-sizing: border-box;
}

body{
  max-width: 100%;
  margin: auto;
}

.contenedor_principal{
  position: absolute;
  background-color: white;
}

header{
  border: 1px black dotted;
  position: fixed;
  width: 100%;
}


nav{
  position: absolute;
  display: block;
  top: 50%;
  margin: auto;
  width: 90%;
  left: 10%;
}


.header_li {
  display: block;
  padding: 0 10px;
  list-style: none;
  float: left;
}

.sesion_li{
  padding: 0 50px;
  list-style: none;
  float: right;
}

img{
  float: left;
  padding: 20px;
}

nav ul li a{
  display: block;
}

                                           /*FOOTER DE FER*/
footer {
  position: absolute;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.84);

}

.footer-left{
  display: block;
  float: left;
  color: rgba(113, 113, 113, 1);
  list-style-type: none;
  padding: 3em;
  /*background-color: red;*/

}

.footer-left a{
  text-decoration: none;
  color: rgba(113, 113, 113, 1);
}

.footer-mid-left{
  display: block;
  float: left;
  color: rgba(113, 113, 113, 1);
  padding: 3em;
  /*background-color: blue;*/
}
.footer-mid-left a{
  text-decoration: none;
  color: rgba(113, 113, 113, 1);
}

.footer-mid{
  display: block;
  float: left;
  color: rgba(113, 113, 113, 1);
  padding: 3em;
  /*background-color: gold;*/
}

.footer-mid a{
  text-decoration: none;
  color: rgba(113, 113, 113, 1);
}

.contact-us{
  color: white;
  display: block;
  float: right;
  padding: 3em;
    /*background-color: green;*/
}

.contact-us img{
  width: 15em;
}

.footer-end{
  clear: both;
  color: rgba(113, 113, 113, 1);
  background-color: rgba(14, 14, 14, 0.91);
  overflow: hidden;
}

.footer-end ul{
margin-top: 0;
}

.footer-end p{
  display: block;
  float: left;
  margin: 0;
  padding-left: 30em;
  padding-top: 1em;
  padding-right: 1em;
}

.footer-end li{
  display: block;
  float: left;
  /*background-color: gold;*/
}
.footer-end a{
  text-decoration: none;
  margin: 0;
  padding-top: 1em;
  color: rgba(113, 113, 113, 1);
  background-color: red;
}
